<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="_layout :: head">
    <title>List Product</title>
</head>
<body>
<div id="wrapper">
    <div th:replace="~{_layout :: menu}"></div>
    <div id="content-wrapper">
        <div id="content">
            <div th:replace="~{_layout :: nav-top}"></div>
            <div class="container-fluid">
                <div class="input-group m-1">
                    <a th:href="@{/products/add}" class="btn btn-primary">Thêm mới sản phẩm</a>
                    <div class="form-outline w-25" data-mdb-input-init>
                        <input type="search" id="search-input" class="form-control ml-2" placeholder="Nhập tên sản phẩm cần tìm"/>
                    </div>
                </div>
                <div id="content-display">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Mã sản phẩm</th>
                            <th scope="col">Tên sản phẩm</th>
                            <th scope="col">Hình ảnh</th>
                            <th scope="col">Giá sản phẩm</th>
<!--                            <th scope="col">Mô tả</th>-->
                            <th scope="col">Loại sản phẩm</th>
                            <th scope="col">Nhà sản xuất</th>
                            <th scope="col">Thương hiệu</th>
                            <th scope="col">Tác vụ</th>
                        </tr>
                        </thead>
                        <tbody th:each="product : ${listProduct}">
                        <tr>
                            <td th:text="${product.id}"></td>
                            <td th:text="${product.name}"></td>
                            <td>
                                <img th:src="@{'/imgproduct/' + ${product.mainImage}}" alt="Image" style="width: 100px; height: auto;" >
                            </td>
                            <td th:text="${product.price}"></td>
<!--                            <td th:text="${product.description}"></td>-->
                            <td th:text="${product.category != null ? product.category.name : 'Không có'}"></td>
                            <td th:text="${product.manufacturer != null ? product.manufacturer.name : 'Không có'}"></td>
                            <td th:text="${product.brand != null ? product.brand.name : 'Không có'}"></td>
                            <td><a class="btn btn-success" th:href="@{/products/edit(id=${product.id})}">Edit</a>
                                <a class="btn btn-warning" th:href="@{/products/delete(id=${product.id})}">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div th:replace="~{_layout :: footer}"></div>
    </div>
</div>
<div th:replace="~{_layout :: script_src}"></div>
<script type="text/javascript">
    $(document).ready(function (){
        const searchBar = document.getElementById("search-input");
        searchBar.addEventListener("change", function (){
            let value = searchBar.value;
            $.ajax({
                url: "/products/searchproduct",
                data: {name: value},
                type: "GET",
                success: function (data){
                    $("#content-display").html(data)
                },
                error: function (xhr){
                    console.log(xhr);
                }
            });
        });
    });
</script>
</body>
</html>